In [1]:
import numpy as np
import pandas as pd

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [7]:
inside

[1, 2, 3, 1, 2, 3]

Lista de tuplas

In [9]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [14]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [16]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [32]:
df = pd.DataFrame(np.random.rand(6, 2), index=hier_index, columns=['A','B'])

In [36]:
df

             A         B
G1 1  0.524152  0.204606
   2  0.050295  0.340050
   3  0.387690  0.861244
G2 1  0.952685  0.434965
   2  0.413147  0.136010
   3  0.055264  0.484378

G1 e G2 sao indices secundarios

Acessando indices

In [40]:
df.loc['G1']

          A         B
1  0.524152  0.204606
2  0.050295  0.340050
3  0.387690  0.861244

In [44]:
df.loc['G1'].loc[1]

A    0.524152
B    0.204606
Name: 1, dtype: float64

O segundo loc faz com que retorne uma series do indice 1

Nomes de indices

In [48]:
df.index.names

FrozenList([None, None])

In [52]:
df.index.names = ['Grupo', 'Numero']

In [54]:
df

                     A         B
Grupo Numero
G1    1       0.524152  0.204606
      2       0.050295  0.340050
      3       0.387690  0.861244
G2    1       0.952685  0.434965
      2       0.413147  0.136010
      3       0.055264  0.484378

Pode utilizar o xs (A diferenca com o lock e que pode pegar indices internos)

In [59]:
df.xs(1, level='Numero')

              A         B
Grupo
G1     0.524152  0.204606
G2     0.952685  0.434965