In [1]:
import pandas as pd
import numpy as np

In [3]:
from numpy.random import randn
np.random.seed(101)

In [17]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [19]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [23]:
bol = df > 0

In [25]:
df[bol]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

Data Frame com os valores menores que 0

teste condicional por linha.
Valores maiores que 0 da coluna W

In [32]:
df[df['W']>0]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

valores maiores que 0 da coluna Y

In [34]:
df[df['W']>0]['Y']

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [40]:
bol = df['W']>0
df2 = df[bol]
df2['Y']

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [42]:
df[(df['W']>0) & df['Y']>1]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

and é usado para operações lógicas tradicionais entre expressões booleanas. & é um operador bitwise para inteiros e é usado para operações lógicas elementwise em arrays, series, DataFrame..

INDEX

Resetar os index voltando a forma padrao

In [53]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

inplace=True Faz alteracoes do Dataframe original

In [58]:
df.reset_index(inplace=True)

In [60]:
df

  index         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

Coluna sendo index temporariamente

In [78]:
col = 'RS RJ SP AM SC'.split()

In [80]:
col

['RS', 'RJ', 'SP', 'AM', 'SC']

In [82]:
df['Estado'] = col

In [84]:
df

  index         W         X         Y         Z Estado
0     A  0.302665  1.693723 -1.706086 -1.159119     RS
1     B -0.134841  0.390528  0.166905  0.184502     RJ
2     C  0.807706  0.072960  0.638787  0.329646     SP
3     D -0.497104 -0.754070 -0.943406  0.484752     AM
4     E -0.116773  1.901755  0.238127  1.996652     SC

Utilizando estados como index

In [91]:
df.set_index('Estado', inplace=True)

In [93]:
df

       index         W         X         Y         Z
Estado
RS         A  0.302665  1.693723 -1.706086 -1.159119
RJ         B -0.134841  0.390528  0.166905  0.184502
SP         C  0.807706  0.072960  0.638787  0.329646
AM         D -0.497104 -0.754070 -0.943406  0.484752
SC         E -0.116773  1.901755  0.238127  1.996652